<div class="container">
  <h1>Using ngx-charts within a Bootstrap grid</h1>
  <div class="row">
    <div class="col-12 col-lg-6">
      <h5>Within wrapping div</h5>
      <p>Without a defined height, ngx-charts uses a default size of 600x400. The grid width is not used.</p>
      <div>
        <ngx-charts-bar-vertical [results]="results" [xAxis]="true" [yAxis]="true"></ngx-charts-bar-vertical>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6">
      <h5>Within wrapping div with height=200px</h5>
      <p>Setting a fixed height solves this issue.</p>
      <div class="chart-wrapper">
        <ngx-charts-bar-vertical [results]="results" [xAxis]="true" [yAxis]="true" yAxisLabel="Population"></ngx-charts-bar-vertical>
      </div>
    </div>
  </div>
</div>